include poems

doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        title Selected Poems
        meta(name='viewport' content='width=device-width, initial-scale=1')
        style
            include styles.css
    body
        h1 Selected Poems
        nav
            ul
                for poem in poems
                    li: a(href='#'+poem.id)= poem.title + (poem.author? ' '+poem.author : '')

        article(id=poem.id)
                h1
                    div= poem.title
                    if poem.author
                        div= poem.author
                section!= poem.text

