doctype
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="../styles.min.css")
    link(rel="prefetch", href='../'+next)
    link(rel="prefetch", href='..')
    link(rel="prefetch", href='../'+prev)
  body

    article
      h2= title
      if author
        h3= author
      section!= text
      nav
        a(href='../'+prev) prev
        a(href='..') menu
        a(href='../'+next) next

