body {
  margin: 0;
  padding: 8em 1em;
  background: #EBE8DF;
  color: #444444;
  font: 16px Georgia;
  line-height: 1.4;
}

h1, h2, h3 {
  color: #E76E66;
  margin: 0;
}

h1 {
  font-family: Zapfino, Georgia;
  font-size: 3em;
  padding: 0.5em 0 1.2em;
  line-height: 1.4;
  font-style: italic;
}

h2 {
  font-family: Georgia;
  font-size: 2.44em;
  line-height: 1.2;
  text-align: left;
  white-space: pre-wrap;
}

h3 {
  font-size: 0.5em;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: left;
  letter-spacing: 1px;
}

ul {
  display: inline-block;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #EBE8DF;
  transition: border-color 0.1s ease-in;
  margin: 0 0em 0.5em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a + a {
  margin-left: 2em;
}

a:hover,
a:active,
a:focus {
  border-bottom-color: #E76E66;
}

span {
  display: inline-block;
}

article {
  max-width: 700px;
}

section {
  padding: 3em 0em 5em;
  white-space: pre-wrap;
  text-align: left;
  text-wrap: pretty;
}

nav {
  font-variant: small-caps;
  text-align: left;
  font-size: 1.1em; 
  color: #E76E66;
}

@media(min-width: 560px) {
  h1  {
    font-size: 4em;
    text-align: center;
  }
  h2 {
    font-size: 2.16em;
  }
  body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-size: 18px;
  }
}
