body {
  margin: 0;
  padding: 8em 1em;
  background: #EBE8DF;
  color: #444444;
  font: 16px Georgia;
  line-height: 1.4;
}

h1, h2, h3 {
  color: #E76E66;
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

h1 {
  font-family: Zapfino, Georgia;
  text-align: center;
  font-size: 4.5em;
  padding: 0.5em 0 1em;
  line-height: 1;
  font-style: italic;
  display: block;
}

h2 {
  font-family: Zapfino, Georgia;
  font-size: 1.5em;
  line-height: 1.4;
  padding: 0;
  text-wrap: balance;
  text-align: left;
  white-space: pre-wrap;
}

h3 {
  padding: 0;
  font-size: 1.2em;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: left;
}

ul {
  display: inline-block;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #EBE8DF;
  transition: border-color 0.1s ease-in;
  margin: 0 0em 0.5em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a + a {
  margin-left: 3em;
}

a:hover,
a:active,
a:focus {
  border-bottom-color: #E76E66;
}

span {
  display: inline-block;
}

article {
  max-width: 700px;
}

section {
  padding: 4em 0em 4em;
  white-space: pre-wrap;
  text-align: left;
  text-wrap: pretty;
}

nav {
font-variant: small-caps;
text-align: left;
font-size: 1em;
}

@media(min-width: 560px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
  }
}
